.categories {

    &__title {
        @include subtitles;
        margin-bottom: 60px;
    }

    &__necklaces {
        @include categories;
        display: flex;
        align-items: center;
        position: relative;
        background-image: url("../images/categories/necklaces.jpg");
    }

    &__earrings {
        @include categories;
        @extend .categories__necklaces;
        background-image: url("../images/categories/earrings.jpg");
    }    
    
    &__bracelets {
        @include categories;
        @extend .categories__necklaces;
        background-image: url("../images/categories/bracelets.jpg");
    }   

    &__clay {
        display: flex;
        justify-content: center;
        @extend .categories__necklaces;
        width: 90%;
        height: 330px;
        margin: 40px auto;
        background-image: url("../images/categories/clay.jpeg");
        background-size: cover;
        background-position-y: -400px;
    }
}

.categories__necklaces-interaction {
    @include categories-interaction;

    &--title {
        @include categories__title;
    }

    &--button {
        @include button-categories;
    }
}

.categories__earrings-interaction {
    @include categories-interaction;

    &--title {
        @include categories__title;
    }

    &--button {
        @include button-categories;
    }
}

.categories__bracelets-interaction {
    @include categories-interaction;

    &--title {
        @include categories__title;
    }

    &--button {
        @include button-categories;
    }
}

.categories__clay-interaction {
    text-align: center;
    &--title {
        @include categories__title;
        color: $color-white;
    }

    &--button {
        @include button-categories;
    }
}
