* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size;
}

body {
    background-color: $color-white;
    font-family: $font-family;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@mixin products {
    height: auto;
    max-height: 540px;
    margin: 40px auto;
    text-align: center;

    @include media(medium-dev) {
        width: 25%;
    }
}

@mixin products-image {
    width: 100%;
}

@mixin button-cart {
    background-color: $color-main;
    padding: 15px 75px;
    color: $color-white;
    font-size: $font-size-paragraph;
    font-weight: 600;

    &:hover {
        background-color: $color-white;
        color: $color-black;
    }
}

@mixin subtitles {
    font-size: $font-size-subtitles;
    font-weight: 500;
    text-align: center;
}

@mixin categories {
    display: flex;
    justify-content: center;
    background-color: $color-categories;
    background-blend-mode: multiply;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 330px;
    margin: 40px auto;

}

@mixin button-categories {
    background-color: $color-main;
    padding: 10px 50px;
    color: $color-white;
    font-size: $font-size-paragraph;
    font-weight: 400;
    text-transform: uppercase;

    &:hover {
        background-color: $color-white;
        color: $color-black;
    }
}

@mixin categories-interaction {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media (medium-dev) {
        left: 120px;
    }
}

@mixin categories__title {
    font-size: $font-size-categories;
        font-weight: 100;
        margin-bottom: 30px;
}

@mixin footer-items {
    color: $color-categories;
    font-size: $font-size-paragraph-less;
}

@mixin footer-containers {
    @include media(extra-large-dev) {
        margin-right: 80px;
    }
}