// ------------------------------------------ //
// $COLORS
// ------------------------------------------ //

$color-main: #b05358;
$color-main-dark: #9b4951;
$color-main-light: #c26465;

$color-secondary: #e5bd95;
$color-secondary-dark: #d6b091;
$color-secondary-light: #e9c9a6;

$color-black: #141110;
$color-darkgrey: #707070;
$color-lightgrey: #bbbbbb;
$color-categories: #efefef;
$color-white: #ffffff;

// ------------------------------------------ //
// $FONTS
// ------------------------------------------ //

$font-family: 'Montserrat', sans-serif;
$font-size: 62.5%;
$font-size-title: 3.2rem;
$font-size-categories: 2.8rem;
$font-size-subtitles: 2.8rem; 
$font-size-prices: 1.8rem;
$font-size-paragraph: 1.6rem;
$font-size-paragraph-interm: 1.4rem;
$font-size-paragraph-less: 1.2rem;

// ------------------------------------------ //
// $STYLES
// ------------------------------------------ // 

$border-radius: 4px;